In [36]:
import yfinance as yf
import pandas as pd
from rsi.rsi2 import calc_rsi
from MovingAverage.MovingAverage import calculate_sma, calculate_exponential_smoothing, double_EMA
from adx.adx2 import extract_adx
from bbands.bbands import calculate_bbands
from macd.macd import calculate_macd
from stoch.stoch import calculate_stoch
from VWAP.VWAP import calculate_vwap

Minute = m
Hour = hr
Days = d
Weeks = wk
Months = mo

In [37]:
df=pd.DataFrame()
stock_ticker='TCS.NS'

In [38]:
data=yf.download(tickers=stock_ticker, period='1y', prepost=True, actions=True)
data['RSI'] = calc_rsi(data)
data["SMA"] = calculate_sma(data.Close, window_size=100)
data['13MA'] = calculate_sma(data.Close, window_size=13)
data['30MA'] = calculate_sma(data.Close, window_size=30)
data["EMA"] = calculate_exponential_smoothing(data.Close, span=10)
data["DEMA"] = double_EMA(data.Close, span=10)
data[['+DI', '-DI', 'DX', 'ADX']] = extract_adx(data)
data['VWAP'] = calculate_vwap(data)
calculate_bbands(data)
calculate_macd(data)
calculate_stoch(data)

[*********************100%***********************]  1 of 1 completed

In [39]:
data

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,RSI,SMA,...,-DI,DX,ADX,VWAP,Upper_Band,Lower_Band,MACD,Signal_line,%K,%D
Date,,,,,,,,,,,,,,,,,,,,,
2023-03-28,3127.000000,3149.550049,3110.149902,3115.899902,3062.722656,1303530,0.0,0,NaN,NaN,...,NaN,NaN,NaN,3125.199951,NaN,NaN,0.000000,0.000000,NaN,NaN
2023-03-29,3129.000000,3150.000000,3104.100098,3138.899902,3085.330078,1740616,0.0,0,NaN,NaN,...,NaN,NaN,NaN,3128.516368,NaN,NaN,1.834758,0.366952,NaN,NaN
2023-03-31,3189.949951,3213.000000,3152.000000,3205.899902,3151.186523,2382581,0.0,0,NaN,NaN,...,NaN,NaN,NaN,3155.642190,NaN,NaN,8.596067,2.012775,NaN,NaN
2023-04-03,3224.949951,3224.949951,3173.750000,3200.000000,3145.387451,1521830,0.0,0,NaN,NaN,...,NaN,NaN,NaN,3165.262254,NaN,NaN,13.324780,4.275176,NaN,NaN
2023-04-05,3185.500000,3264.350098,3185.500000,3239.800049,3184.508301,2655065,0.0,0,NaN,NaN,...,NaN,NaN,NaN,3183.127732,NaN,NaN,20.052696,7.430680,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-21,3990.050049,4008.399902,3948.000000,3972.949951,3972.949951,3829582,0.0,0,40.259936,3787.330513,...,28.011030,25.469698,19.059589,3563.342521,4243.124749,3942.101992,9.233926,33.913145,8.133643,6.232425
2024-03-22,3897.000000,3938.000000,3855.000000,3910.899902,3910.899902,5852485,0.0,0,36.674644,3793.072012,...,32.581127,36.539437,20.308150,3567.245857,4255.509810,3914.836918,-4.422322,26.246052,13.983715,8.773055
2024-03-26,3875.000000,3946.699951,3871.449951,3877.500000,3877.500000,3440925,0.0,0,35.651745,3798.337512,...,30.685885,34.526496,21.323746,3569.480440,4269.472862,3883.793853,-17.735644,17.449713,5.628518,9.248626
2024-03-27,3888.500000,3895.000000,3829.399902,3840.899902,3840.899902,1968575,0.0,0,37.339138,3802.961011,...,32.416393,39.192692,22.600099,3570.578337,4284.272480,3850.340883,-30.883859,7.782998,2.703655,7.438629
2024-03-28,3850.100098,3915.000000,3840.500000,3876.300049,3876.300049,4311783,0.0,0,35.742460,3808.036511,...,30.485510,34.290494,23.435127,3573.138896,4289.632689,3826.767344,-38.009272,-1.375456,11.026246,6.452806

In [40]:
df1 = data.tail(1)
df1 = df1.reset_index()
df1 = df1.drop('Date', axis=1)
df1.insert(0, 'Stock', stock_ticker)
df=pd.concat([df, df1], axis=0)
df

,Stock,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits,RSI,...,-DI,DX,ADX,VWAP,Upper_Band,Lower_Band,MACD,Signal_line,%K,%D
0,TCS.NS,3850.100098,3915.0,3840.5,3876.300049,3876.300049,4311783,0.0,0,35.74246,...,30.48551,34.290494,23.435127,3573.138896,4289.632689,3826.767344,-38.009272,-1.375456,11.026246,6.452806