In [1]:
import yfinance as yf
import pandas as pd

Minute = m
Hour = hr
Days = d
Weeks = wk
Months = mo

In [2]:
stock_ticker='TCS.NS'

In [8]:
data=yf.download(tickers=stock_ticker, period='max', prepost=True, actions=True)

[*********************100%***********************]  1 of 1 completed

In [9]:
print(data)

                   Open         High          Low        Close    Adj Close  \
Date
2002-08-12    38.724998    40.000000    38.724998    39.700001    28.201387
2002-08-13    39.750000    40.387501    38.875000    39.162498    27.819563
2002-08-14    39.250000    39.250000    35.724998    36.462502    25.901581
2002-08-15    36.462502    36.462502    36.462502    36.462502    25.901581
2002-08-16    36.275002    38.000000    35.750000    36.375000    25.839417
...                 ...          ...          ...          ...          ...
2023-10-09  3645.050049  3679.000000  3631.000000  3638.350098  3638.350098
2023-10-10  3640.050049  3648.000000  3601.350098  3628.899902  3628.899902
2023-10-11  3650.000000  3650.000000  3605.000000  3609.899902  3609.899902
2023-10-12  3575.000000  3588.649902  3538.100098  3542.550049  3542.550049
2023-10-13  3530.000000  3577.000000  3525.000000  3570.850098  3570.850098

             Volume  Dividends  Stock Splits
Date
2002-08-12   212976        0.0           0.0
2002-08-13   153576        0.0           0.0
2002-08-14   822776        0.0           0.0
2002-08-15        0        0.0           0.0
2002-08-16   811856        0.0           0.0
...             ...        ...           ...
2023-10-09  4233074        0.0           0.0
2023-10-10  1848148        0.0           0.0
2023-10-11  2426417        0.0           0.0
2023-10-12  4241281        0.0           0.0
2023-10-13  2890357        0.0           0.0

[5260 rows x 8 columns]

In [6]:
pd.DataFrame(data).to_csv(f'data\{stock_ticker}.csv')